
  .parent {
    display: flex;
    flex: 1 1 150px;
    position: relative
  }

  .left-side {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 70%;
  }

  .right-side {
    position: absolute;
    left: 70%;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 30%;
  }
